<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
      <title>{% block title %}{% endblock %} - My Company</title>
    {% endblock %}
</head>

<body>
    <div id='logo'>
        <img src="{{ url_for('static', filename='apple.png') }}" alt='Logo'></img>
    </div>
  <h1>My Company</h1>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div id="messages">
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}

  <div id="content">
    {% block content %}{% endblock %}
  </div>

  <footer>
    {% block footer %}
        &copy; Copyright 2014 by <a href="#/">My Company</a>
    {% endblock %}
  </footer>

</body>
</html>